<footer class="footer">
    <div class="container">
        <div class="row mt-3">
            <div class="col-4">
                <div class="text-muted mb-2">
                    <img src="assets/images/etc/cat.png" alt="logo" style="max-height: 80px;">
                </div>
            </div>
            <div class="col-8">
                <div class="text-right text-muted mt-2">
                    Designed by <i><a href="https://github.com/luost26/academic-homepage">luost26</a></i>. <br />
                    <span class="text-muted"><i>Last updated: {{ "now" | date: "%b %Y" }}</i></span> <br />
                </div>
            </div>
        </div>
    </div>
</footer>
