<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">

                <div class="row">
                    {% if site.data.profile.education %}
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>Education</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.education %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <p class="my-0">{{ item.name }}</p>
                                        <p class="small my-0">{{ item.dept }}</p>
                                        <p class="small my-0">{{ item.position }} <em class="float-right">{{ item.date }}</em></p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}


                    {% if site.data.profile.awards %}
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>Honors & Awards</h6>
                            <ul class="list small pl-3 mb-1">
                                {% for item in site.data.profile.awards %}
                                <li>{{ item.name }} <em class="float-right">{{ item.date }}</em></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.experience %}
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>Experience</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.experience %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <p class="my-0">{{ item.name }}</p>
                                        <p class="small my-0">{{ item.dept }}</p>
                                        <p class="small my-0">{{ item.position }} <em class="float-right">{{ item.date }}</em></p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
