<div id="url-debug-message" class="row mt-3 d-none">
    <div class="col">
        <div class="alert alert-warning my-0" role="alert">
            <h5><i class="fas fa-exclamation-triangle"></i> Action required</h5>
            <strong>Problem:</strong>
            The current root path of this site is "<code class="root-path-text"></code>",
            which does not match the <code>baseurl</code> ("<code>{{ site.baseurl }}</code>") configured in <code>_config.yml</code>.
            <br>

            <strong>Solution:</strong>
            Please set the <code>baseurl</code> in <code>_config.yml</code> to "<code class="root-path-text"></code>".
        </div>
    </div>
</div>

<div id="ghpages-domain-debug-message" class="row mt-3 d-none">
    <div class="col">
        <div class="alert alert-warning my-0" role="alert">
            <h5><i class="fas fa-exclamation-triangle"></i> Warning</h5>
            <strong>Problem:</strong>
            The name of your GitHub Pages repository ("<code class="repo-name-text"></code>") does not match your GitHub username.
            <br>
            <strong>Solution:</strong> Please consider renaming the repository to "<code class="domain-name-text"></code>".
            If the current repository name is intended, you can ignore this message by removing {% raw %}"<code>{% include widgets/url_debug_message.html %}</code>"{% endraw %} in <code>index.html</code>.
        </div>
    </div>
</div>

<script>
striped_pathname = location.pathname.replace(/\/+$/, "");
if(striped_pathname != "{{ site.baseurl }}"){
    document.getElementById("url-debug-message").classList.remove('d-none');
}
document.querySelectorAll(".root-path-text").forEach(function(element){
    element.textContent = striped_pathname;
});
document.querySelectorAll(".repo-name-text").forEach(function(element){
    element.textContent = striped_pathname.replace("/", "");
});
document.querySelectorAll(".domain-name-text").forEach(function(element){
    element.textContent = location.hostname;
});

if (striped_pathname.search("github.io") != -1 && location.hostname.search("github.io") != -1){
    document.getElementById("ghpages-domain-debug-message").classList.remove('d-none');
}

</script>
